@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress {
  from { width: 0%; }
  to { width: 100%; }
}

.animate-progress {
  animation: progress 5s linear;
  animation-fill-mode: forwards;
}

/* Styles for the progress line */
.progress-container {
  height: 2px; /* Reduced from 4px to make it thinner */
  background-color: transparent; /* Fully transparent background */
  overflow: hidden;
}

.progress-line {
  height: 100%;
  background-color: white;
}

/* New class for opacity */
.opacity-85 {
  opacity: 0.85;
}
